<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

  <title>ConnectPro - Página Inicial</title>
</head>
<body>
  <div class="container">
    <header class="header">
      <h1>ConnectPro</h1>
    </header>
    <main>
      
      <p>Conectando profissionais de forma eficiente.</p>
      <section>
        <h3>O que oferecemos</h3>
        <ul>
          <li><strong>Networking:</strong> Conecte-se com outros profissionais da sua área.</li>
          <li><strong>Recrutamento:</strong> Encontre as melhores oportunidades de emprego.</li>
          <li><strong>Colaboração:</strong> Trabalhe em projetos incríveis com colegas talentosos.</li>
        </ul>
      </section>
      <section>
        <h3>Como funciona</h3>
        <p>Crie seu perfil, explore oportunidades, conecte-se com outros profissionais e alcance o sucesso em sua carreira.</p>
      </section>
      <section class="cta-buttons">
        <a href="/register"><button class="btn-create-account">Criar Conta</button></a>
        <a href="/login"><button class="btn-login">Login</button></a>
      </section>
    </main>
  </div>
 
</body>
</html>
