<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/pub_servico.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>ConnectPro - Publicar Serviço</title>
</head>
<body>

  <header class="header">
    <button onclick="voltar()">
      <i class="fas fa-arrow-left"></i>
    </button>
    <h1>ConnectPro</h1>
  </header>

  <main>
    <form id="pub-servico-form">

      <!-- Adicione o input de arquivo e o elemento de visualização da imagem -->
    <label for="input-foto" id="input-foto-label">Escolher Foto</label>
    <input type="file" id="input-foto" accept="image/*" onchange="previewFoto(this)">
    <img id="preview-imagem" src="#" alt="Preview da Imagem">

      


      <label for="nome-servico">Nome do Serviço</label>
      <input type="text" id="nome-servico" name="nome-servico" required>

      <label for="categoria-servico">Categoria do Serviço</label>
      <input type="text" id="categoria-servico" name="categoria-servico" required>

      <label for="localizacao-servico">Localização do Serviço</label>
      <input type="text" id="localizacao-servico" name="localizacao-servico" required>

      <label for="preco-servico">Preço do Serviço</label>
      <input type="number" id="preco-servico" name="preco-servico" required>

      <label for="descricao-servico">Descrição do Serviço</label>
      <textarea id="descricao-servico" name="descricao-servico" rows="4" required></textarea>

      
      <button type="button" onclick="publicarServico()">Publicar</button>
    </form>
  </main>

  <footer>
    <a href="#feed"><i class="fas fa-images"></i></a>
    <a href="#messages"><i class="fas fa-envelope"></i></a>
    <a href="#profile"><i class="fas fa-user"></i></a>
    <a href="#logout"><i class="fas fa-sign-out-alt"></i></a>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/static/js/pub_servico.js"></script>
  <script>
    function voltar() {
      // Utiliza a função 'history' para voltar para a página anterior
      window.history.back();
    }

  document.getElementById('input-foto').addEventListener('change', mostrarPreviews);
  </script>

</body>
</html>
