
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>
  <script  src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

  <title>ConnectPro - Criar Conta</title>
</head>
<body>
  <div class="container">
   
    <header class="header">
      <button onclick="voltar()">
        <i class="fas fa-arrow-left"></i> <!-- Ícone de seta para a esquerda -->
      </button>
  <h1>ConnectPro</h1>
</header>
    <main>
      <h2>Criar Conta</h2>
      <!-- Exemplo em register.html -->
<form method="POST">
  <label for="email">E-mail:</label>
  <input type="email" name="email" required>

  <label for="senha">Senha:</label>
  <input type="password" name="senha" required>

 
  <button type="submit" class="btn-create-account">Criar Conta</button>

</form>

      <p>Já tem uma conta? <a href="/login">Faça login aqui</a></p>
    </main>
  </div>
  
  <script>

// Use a configuração do firebaseConfig
const firebaseConfig = {
  apiKey: "AIzaSyBE7gVDMkvuxlL3U66xLlaOhDbycB1MZ4o",
  authDomain: "imed-8f451.firebaseapp.com",
  databaseURL: "https://imed-8f451-default-rtdb.firebaseio.com",
  projectId: "imed-8f451",
  storageBucket: "imed-8f451.appspot.com",
  messagingSenderId: "865781797198",
  appId: "1:865781797198:web:751a0974d141be7a5a4e1f",
  measurementId: "G-ZQ1Z13BWHP"
};

// Inicialize o Firebase
firebase.initializeApp(firebaseConfig);

// Obtenha uma referência para o módulo de autenticação
const auth = firebase.auth();

// Adicione um ouvinte para monitorar o estado de autenticação do usuário
auth.onAuthStateChanged((user) => {
  if (user) {
    // O usuário está autenticado
    console.log('Usuário autenticado:', user.uid);
  } else {
    // O usuário não está autenticado
    console.log('Usuário não autenticado');
  }
});

// Exemplo de criação de conta
const criarConta = (email, senha) => {
  auth.createUserWithEmailAndPassword(email, senha)
    .then((userCredential) => {
      // Usuário criado com sucesso
      const user = userCredential.user;
      console.log('Usuário criado:', user.uid);
    })
    .catch((error) => {
      // Lidar com erros
      console.error('Erro ao criar usuário:', error.message);
    });
};



// Exemplo de logout
const fazerLogout = () => {
  auth.signOut()
    .then(() => {
      // Logout bem-sucedido
      console.log('Logout bem-sucedido');
    })
    .catch((error) => {
      // Lidar com erros
      console.error('Erro ao fazer logout:', error.message);
    });
};
  </script>
</body>
</html>
